<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <% include partials/header.ejs %>

  <!-- content here -->
  <h1>Index</h1>
  <p>This is about</p>
  <p>index index index index index</p>

  <% include partials/footer.ejs %>
</body>
</html>
